// Navigation code here

.myNav{
    width: 120%;
    margin-left: -10%;
    margin-top: 2%;
    height: 30%;
    background: lighten(grey, 48.5%);
    .displayColumn();
    align-items: center;
    justify-content: center;
    h1{
        height: 50%;
        font-size: 4rem ;
    }
}
nav{
    width: 60%;
    height: 10%;
    .displayCenter();

    a{
        font-size: 1.8rem;
        text-decoration: none;
        color: grey;
    }
    
   
}